.banner{
	background-image:url("../images/banner.jpg");
	background-size:cover;	
	min-height:600px;
	color: white;
	
	
}
.banner{
	h2{
	font-size:40px;
	line-height:60px;	
	}
	h3{
	font-size:16px;
	font-weight:bold;
	margin-top:34px;
	margin-bottom:40px;
	}
}
.banner-content{
	display: flex;
	min-height: 600px;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
}
.banner-btn{	
	color: white;
	border-color: white;	
	border:2px solid white;
}
.info-links{
	margin-bottom:230px;
	margin-top:120px;
}
.info-links{
	h4{
	font-size:20px;
	color:grey;
	margin-bottom:22px;
	}
	p{
	font-size:14px;
	margin-bottom:36px;
	}
}

.working{
	h6{
	font-size:36px;
	margin-bottom:60px;
	}
	img{
	margin-bottom:46px;
	}
	h4{
	font-size:20px;
	color:grey;
	margin-bottom:22px;
	}
	p{
	font-size:14px;
	}
}
article{
	background-image:url("../images/article-img.jpg");
	background-size:cover;
	min-height:411px;
	color: white;
}
article{
	h2{
	font-size:40px;
	line-height:60px;
	margin-top:120px;
	}
	h3{
	font-size:16px;
	font-weight:bold;
	margin-top:34px;
	margin-bottom:40px;
	}
}
.article-btn{
	color: white;
	border:2px solid white;
}
.cloud-air{
	padding-top: 130px;
	padding-bottom: 130px;
	h2{		
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 70px;
	}	
	h3{
		margin-bottom: 130px;
	}
}
.green-text{
	color: #c3cc34;
	font-size: 26px;
	line-height: 36px
}
.blue-text{
	color: #106a8f;
	font-size: 26px;
	line-height: 36px
}
.customer-love{
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: black;
	color: white;
}
.cust-sec-btn{
	border: 2px solid white;
}